In [1]:
import numpy
from numpy import linalg
import pandas
import random
# Code for Transitional_Matrix used from here https://github.com/vsharm/Markov-Baseball/blob/master/markov_baseball.py
def Transitional_Matrix(singles, doubles, triples, hr, walks, outs, plateAppearences):
    pSingle = singles/float(plateAppearences)
    pDouble = doubles/float(plateAppearences)
    pTriple = triples/float(plateAppearences)
    pHR = hr/float(plateAppearences)
    pOut = outs/float(plateAppearences)
    pWalk = walks/float(plateAppearences)
    pWalkSingle = (walks+singles)/float(plateAppearences)

    transition = numpy.matrix([
                               [pHR,pWalkSingle,pDouble,pTriple,0,0,0,0,pOut,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
                               [pHR,0,0,pTriple,pWalkSingle,0,pDouble,0,0,pOut,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
                               [pHR,pSingle,pDouble,pTriple,pWalk,0,0,0,0,0,pOut,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
                               [pHR,pSingle,pDouble,pTriple,0,pWalk,0,0,0,0,0,pOut,0,0,0,0,0,0,0,0,0,0,0,0,0],
                               [pHR,0,0,pTriple,pSingle,0,pDouble,pWalk,0,0,0,0,pOut,0,0,0,0,0,0,0,0,0,0,0,0],
                               [pHR,0,0,pTriple,pSingle,0,pDouble,pWalk,0,0,0,0,0,pOut,0,0,0,0,0,0,0,0,0,0,0],
                               [pHR,pSingle,pDouble,pTriple,0,0,0,pWalk,0,0,0,0,0,0,pOut,0,0,0,0,0,0,0,0,0,0],
                               [pHR,0,0,pTriple,pSingle,0,pDouble,pWalk,0,0,0,0,0,0,0,pOut,0,0,0,0,0,0,0,0,0],
                               [0,0,0,0,0,0,0,0,pHR,pWalkSingle,pDouble,pTriple,0,0,0,0,pOut,0,0,0,0,0,0,0,0],
                               [0,0,0,0,0,0,0,0,pHR,0,0,pTriple,pWalkSingle,0,pDouble,0,0,pOut,0,0,0,0,0,0,0],
                               [0,0,0,0,0,0,0,0,pHR,pSingle,pDouble,pTriple,pWalk,0,0,0,0,0,pOut,0,0,0,0,0,0],
                               [0,0,0,0,0,0,0,0,pHR,pSingle,pDouble,pTriple,0,pWalk,0,0,0,0,0,pOut,0,0,0,0,0],
                               [0,0,0,0,0,0,0,0,pHR,0,0,pTriple,pSingle,0,pDouble,pWalk,0,0,0,0,pOut,0,0,0,0],
                               [0,0,0,0,0,0,0,0,pHR,0,0,pTriple,pSingle,0,pDouble,pWalk,0,0,0,0,0,pOut,0,0,0],
                               [0,0,0,0,0,0,0,0,pHR,pSingle,pDouble,pTriple,0,0,0,pWalk,0,0,0,0,0,0,pOut,0,0],
                               [0,0,0,0,0,0,0,0,pHR,0,0,pTriple,pSingle,0,pDouble,pWalk,0,0,0,0,0,0,0,pOut,0],
                               [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,pHR,pWalkSingle,pDouble,pTriple,0,0,0,0,pOut],
                               [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,pHR,0,0,pTriple,pWalkSingle,0,pDouble,0,pOut],
                               [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,pHR,pSingle,pDouble,pTriple,pWalk,0,0,0,pOut],
                               [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,pHR,pSingle,pDouble,pTriple,0,pWalk,0,0,pOut],
                               [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,pHR,0,0,pTriple,pSingle,0,pDouble,pWalk,pOut],
                               [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,pHR,0,0,pTriple,pSingle,0,pDouble,pWalk,pOut],
                               [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,pHR,pSingle,pDouble,pTriple,0,0,0,pWalk,pOut],
                               [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,pHR,0,0,pTriple,pSingle,0,pDouble,pWalk,pOut],
                               [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1]
                               ])
    
    return transition

In [2]:
TeamA_Transition = Transitional_Matrix(389, 130, 9, 66, 265, 1403, 2262)
TeamB_Transition = Transitional_Matrix(394, 94, 10, 99, 437, 1434, 2468)

In [3]:
run_matrix=pandas.read_csv("StateRuns.csv")
run_matrix = run_matrix.to_numpy()
out_matrix=pandas.read_csv("Outs.csv")
out_matrix = out_matrix.to_numpy()

In [4]:
def SimGame_team(TeamTransitionMatrix):
    # start at 1st inning 
    inning = 1
    # start with zero outs
    outs = 0 
    # start with no score
    score = 0 
    # start at state that is 0 outs 0 on-base
    previous_state = 0
    # create state_ids to pick from with random.choices
    state_ids = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]
    # loop through all 9 innings
    while(inning<10):
        # loop through 3 outs
        while(outs<3):
            # use current row of transitional matrix as weigths to pick next state
            previous_state_prob_list = (TeamTransitionMatrix[previous_state]*100).tolist()[0]
            next_state_id = random.choices(state_ids, weights=previous_state_prob_list)[0]
            # add score to total if play scores runner
            score += run_matrix[previous_state][next_state_id]
            # add to outs if any occur durring transition
            outs += out_matrix[previous_state][next_state_id]
            # set previous state to next state 
            previous_state = next_state_id
        # set outs to zero for new inning 
        outs = 0
        # go to next inning 
        inning += 1
        # start inning with 0 outs and 0 on base
        previous_state = 0
    return score

In [5]:
sum_score = 0
for x in range(1000):
    n = SimGame_team(TeamA_Transition)
    sum_score += n
sum_score/1000

6.418

In [6]:
sum_score = 0
for x in range(1000):
    n = SimGame_team(TeamB_Transition)
    sum_score += n
sum_score/1000

8.194

In [9]:
TeamA_Batters = pandas.read_csv("TeamA-Players Stats.csv")
TeamB_Batters = pandas.read_csv("TeamB-Players Stats.csv")

In [10]:
TeamA_Batters.head()

   BattingOrder   PA   AB   H  1B  2B  3B  HR  WalksHBP  Outs
0             1  212  179  52  36  11   1   4        33   127
1             2  145  130  44  21   9   0  14        15    86
2             3  257  234  80  39  29   1  11        23   154
3             4  200  188  66  48  14   0   4        12   122
4             5  198  180  59  43   8   0   8        18   121

In [65]:
def SimGame_lineup(BatterData, BattingOrder: list):
    # translate BattingOrder to working list values
    BattingOrder = [x - 1 for x in BattingOrder]
    # start at 1st inning 
    inning = 1
    # start with zero outs
    outs = 0 
    # start with no score
    score = 0 
    # start at state that is 0 outs 0 on-base
    previous_state = 0
    batter = 0

    # create state_ids to pick from with random.choices
    state_ids = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]
    # loop through all 9 innings
    while(inning<10):
        # loop through 3 outs
        while(outs<3):
            # get current batters transitional matrix
            BatterTransitional = Transitional_Matrix(BatterData.iloc[BattingOrder[batter]][4],
                                                     BatterData.iloc[BattingOrder[batter]][5], 
                                                     BatterData.iloc[BattingOrder[batter]][6], 
                                                     BatterData.iloc[BattingOrder[batter]][7], 
                                                     BatterData.iloc[BattingOrder[batter]][8], 
                                                     BatterData.iloc[BattingOrder[batter]][9], 
                                                     BatterData.iloc[BattingOrder[batter]][1])
            # use current row of transitional matrix as weigths to pick next state
            previous_state_prob_list = (BatterTransitional[previous_state]*100).tolist()[0]
            next_state_id = random.choices(state_ids, weights=previous_state_prob_list)[0]
            # add score to total if play scores runner
            score += run_matrix[previous_state][next_state_id]
            # move to next batter in batting order
            if batter < 8:
                batter += 1
            else:
                batter = 0
            # add to outs if any occur durring transition
            outs += out_matrix[previous_state][next_state_id]
            # set previous state to next state 
            previous_state = next_state_id
        # set outs to zero for new inning 
        outs = 0
        # go to next inning 
        inning += 1
        # start inning with 0 outs and 0 on base
        previous_state = 0
    return score

In [98]:
sum_score = 0
for x in range(100):
    n = SimGame_lineup(TeamB_Batters, [9,8,7,6,5,4,3,2,1])
    sum_score += n
sum_score/100

9.31

In [99]:
sum_score = 0
for x in range(100):
    n = SimGame_lineup(TeamA_Batters, [9,8,7,6,5,4,3,2,1])
    sum_score += n
sum_score/100

6.72

In [89]:
TeamB_Batters

   BattingOrder   PA   AB   H  1B  2B  3B  HR  WalksHBP  Outs
0             1  295  232  86  68  14   2   2        63   146
1             2  194  153  59  30  13   0  16        41    94
2             3  272  233  82  60  11   0  11        39   151
3             4  278  229  66  30  17   1  18        49   163
4             5  268  227  69  38  12   3  16        41   158
5             6  239  194  57  41   6   2   8        45   137
6             7  235  205  51  33   7   0  11        30   154
7             8  214  163  39  30   3   1   5        51   124
8             9  233  193  48  35   4   1   8        40   145

In [ ]:
batting_stats = pandas.DataFrame(data={"Batting Order":[], "Team A Scores":[], "Team B Scores":[]})
batting_order = [1, 2, 3, 4, 5, 6, 7, 8, 9]
num_sim = 100
for z in range(10):
        sum_score_a = 0 
        sum_score_b = 0 
        for x in range(num_sim):
            a = SimGame_lineup(TeamA_Batters, batting_order)
            sum_score_a += a
        sum_score_a = sum_score_a/num_sim
        print(sum_score_a)
        for x in range(num_sim):
            b = SimGame_lineup(TeamB_Batters, batting_order)
            sum_score_b += b
        sum_score_b = sum_score_b/num_sim
        batting_stats.loc[len(batting_stats.index)] = [''.join(str(x) for x in batting_order), sum_score_a, sum_score_b]
        random.shuffle(batting_order)

In [110]:
batting_stats

  Batting Order  Team A Scores  Team B Scores
0     123456789           7.94           9.63
1     145892763           7.55           9.32
2     972485631           7.30           9.27
3     694782135           6.86           9.26
4     189726453           6.63           8.80
5     123986475           6.90           9.04
6     152694837           7.56           8.68
7     196724835           7.48           7.97
8     837592164           7.11           8.47
9     974621538           7.51           9.50